/* .logo{
    width: 115px;
    height: auto;
}

.input_width{
    width: 300px;
}

.divider{
    width: 350px;
    margin: 10px 0px !important;
}

.auth_button{
    height: 40px !important;
}

.link{
    color: #3B57A9;
}

.login_div{
    min-height: 100vh !important;
} */

.gridContact{
    position: relative;
    height: 100vh;
    margin: 15px 0;
    z-index: 1;
  }
  .gridContact form {
    position: relative;
    z-index: 4;
  }
  .gridContactImage{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:3;
  }
  .gridContactImage img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }