.logo{
    width: 115px;
    height: auto;
}

.input_width{
    width: 300px;
}

.divider{
    width: 350px;
    margin: 10px 0px !important;
}

.auth_button{
    height: 40px !important;
}

.link{
    color: #3B57A9;
}

.login_div{
    min-height: 100vh !important;
}