.bg-footer {
    padding: 10px 0;
    background-color: #FF3041;
    border-radius: 0px 200px 0px 0px;
    
}

.footer  {
    color:#fff;
}
.footer a {
    color:#fff;
    text-decoration: none;
    display: flex;
    /* flex-direction: column; */
    gap: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
    margin-top: 20px;
    line-height: 0;
    
}


.newsletter{
    border:none;
    color:#fff;

}

.logo{
width: 100px;
  margin-top: 10px;
}



@media(max-width:560px){
    .footer{
        display: flex !important;
        flex-direction: column !important;
    }
} 