.bg-footer {
    padding: 20px 0;
    background-color: #FF3041;
    border-radius: 0px 200px 0px 0px;
    
}

.footer  {
    color:#fff;
}
.footer a {
    color:#FFAB13;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 51px;
    font-size: 1.2rem;
    margin-top: 30px;
}

.newsletter{
    border:none;
    color:#fff;
    margin-left: 150px;
}

.logo{
    width: 100px;
    margin-left: 200px;
    margin-top: 30px;
}