.custom_buttom{
    background-color: #FFAB13 !important;
    color: white !important;
    border: none !important;
    border-radius: 15px !important;
    padding: 5px 40px !important;
}

.custom_buttom:hover{
    border: none !important;
    background-color: #ff7d13 !important;
}

.custom_buttom:active{
    border: none !important;
    background-color: #a71900 !important;
}

.custom_buttom span{
    height: 20px;
}