@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

html,
body,
#root{
    min-height: 100vh !important;
}

body{
    position: relative;
    overflow-x: hidden;
    top: 0;
}

.logo {
    width: 70px;
    height: 70px;
}

img {
    width: 100%;
    height: auto;
}

@media(max-width:600px){
    h1{
       font-size: 30px !important;   
    }
}

@media only screen and (min-width: 360px) and (max-width: 900px) {
    h1{
        font-size: 50px !important;   
     }
}
